.board {

  align-items: center;
  display: flex;
  flex-direction: column;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.board__row {
  align-items: center;
  display: flex;
}

.board__row__square {
  border: 1px solid #999;
  font-size: 16px;
  height: 30px;
  padding: 0;
  text-align: center;
  transition: background-color 0.5s;
  width: 30px;
}

.uncleared {
  background-color: black;
}

.cleared {
  background-color: white;
}

.flagged {
  background-color: #96ffad;
}

.incorrect {
  background-color: #ff96a5;
}
